/RedirectAPI/Dockerfile
/RedirectAPI/.dockerignore
/RedirectAPI/obj/
/RedirectAPI/bin/
/RedirectAPI/config.json
/RedirectAPI/redirects.json
/RedirectAPI/appsettings.json
/RedirectAPI/appsettings.Development.json
/RedirectAPI.Data/bin/
/RedirectAPI.Data/obj/
/.idea/
